# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#VS files
*.opensdf
*.sdf
*.suo
*.user
*.aps
Debug
MD
MDd
MT
MTd
Release
build
ipch
x64

